<div>
    <h1>Questions#answer</h1>

    <p>Find app/views/questions/answer.html.erb</p>
    <p><%= params[:questio] %></p>

    <h3> Coach dit: </h3>
    <p> <%= @answer %></p>
</div>
<div class="link">
    <%= link_to "nouvelle question", ask_path %>
</div>
