  <h1></h1>
  <p>Find app/views/questions/ask.html.erb</p>

<h1>Questions#ask</h1>

<form action="http://localhost:3000/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>


